html{
    /*font-family: 'Sintony', sans-serif;*/
    background: rgb(247, 247, 247);
}

nav{
    -webkit-transition: ease all 0.3s;
}

hr{
    border: 2px solid #03a9f4; 
    border-radius: 300px/10px; 
    width: 20%;
}

/*Clases*/
.article{
    padding-top: 60px;
    padding-bottom: 60px;
}

.portada{
    background: #00acc1 ;
    background-size: cover;
    position: relative;
    /*min-height: 660px;
	max-height: 600px;*/
	height: calc(100vh + 53px);
}

.portada:before {
    content: "";
    background: rgba(4, 8, 29, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
}

.nav-fijo{
    background: #fff;
}

.nav-fijo a{
    color: #424242;
}

.current, #nav li a:hover{
    border-radius: 50px;
    position: relative;
    top: 10px;
    height: 40px;
    background: #03a9f4;
    color:white !important;
}

.transparent{
	background-color: rgba(0, 0, 0, 0);
	-webkit-box-shadow: 2px 10px 0px -12px rgba(0,0,0,0.29);
	-moz-box-shadow: 2px 10px 0px -12px rgba(0,0,0,0.29);
	box-shadow: 2px 10px 0px -12px rgba(0,0,0,0.29);
}

/*.sidenav .current a, #nav .nav-wrapper .current a {
    background: #4fc3f7;
    color:white;
}*/

/* skillbar */
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	transition:0.1s linear;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#0277bd;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#03a9f4;
	border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}